*{
    /*margin: 0;*/
    /*padding: 0;*/
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    background-image: url("img/starsBlackSky.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 50px;
    border: rgba(255, 255, 255, 0.02) solid 3px;
    background-color: rgba(0, 0, 0, 0.45);
    margin: 0 0 10px;
}
#textInput,
#nameSelect{
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.29);

    color: white;
}
#nameSelect{
    background: black;
}
#submitBtn{
border-radius: 6px;
    padding:  2px ;
    /*box-shadow: 0 -5px 10px rgb(224, 178, 19);*/
    background: black;
    color: #e0b213;
    box-shadow: inset 0 0 6px
}
#submitBtn:hover{
    box-shadow: 0 -3px 10px rgb(224, 178, 19);

    /*background: #e0b213;*/
    /*color: black;*/
}


#quotesForm{
    display: flex;
    justify-content: space-between;

}
#textInput{
        width: 70%;
}
.quoteContainer{
    margin: 30px 0 20px;
    padding:  10px 50px;
    border: rgba(241, 226, 26, 0.09) solid 2px;
    box-shadow: 0 -3px 10px rgba(224, 178, 19, 0.25);
}
#quotesListTitle{
    margin: 0 0 20px;
    flex: 1;
    text-align: center;

    color: #f8e039;
}
#quotesList{
    display: flex;
    overflow: auto;
    padding: 30px;
    /*width: 100%;*/
    flex-direction: column;
    text-align: center;



}
.quotes{
    list-style: none;
}
.quote{
    border-radius: 5px;
    margin: 2px;
    box-shadow: 0 0px 15px rgba(61, 218, 202, 0.4);
}


#changeBtnDiv,
#removeBtnDiv{
    /*margin: 10px 0 0;*/
    display: flex;
    flex-direction: column;
}

#invadeTitle{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

#removeBtnTitle{
    color: red;
    display: flex;
    justify-content: center;
}

#delete-button,
#update-button,
#clearQuotesButton{
    background: rgba(255, 255, 255, 0);
    color: white;
    box-shadow: inset 0 0 6px;
    border-radius: 10px;
    cursor: pointer;
}
#clearQuotesButton{
    color: #e0b213;

}
#delete-button:hover,
 #update-button:hover,
#clearQuotesButton:hover{
    color: rgba(224, 178, 19, 0.48);
}


#update-button:hover:before {
    opacity: 1;
    visibility: visible;

}
#update-button:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 170px;
    background-color: rgba(218, 29, 29, 0.73);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    /*left: 50%;*/

    /*top: 70%;*/
}


#delete-button:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 170px;
    background-color: rgba(218, 29, 29, 0.68);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    /*left: 50%;*/

    /*top: 70%;*/
}

#delete-button:hover:before {
    opacity: 1;
    visibility: visible;

}

#message{
    display: flex;
    justify-content: center;
    color: red;
    box-shadow: inset 0 0 6px;
    border-radius: 5px;
}